body{
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

a{
  text-decoration: none;
}

#app-name{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--sidebar-color);
  color: white;
  margin: 0;
  text-align: center;
  padding-top: 15px;
  box-shadow: 0px 2px rgba(25, 27, 29, 0.938);
}

:root{
  --bg-color: rgb(54,57,62);
  --font: 'Times New Roman', Times, serif;
  --submit-color: rgb(49, 49, 228);
  --sidebar-color: rgb(43, 43, 45);
}

.header{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px rgba(25, 27, 29, 0.938);
  padding-left: 5px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.friend{
  display: flex;
  align-items: center;
}

.user{
  display: flex;
  margin-right: 30px;
  align-items: center;
}
.header-title{
  color: white;
  font-size: 1.1em;
  font-family: var(--font);
  box-shadow: 3px 0px gray;
  padding-right: 15px;
}
.header-word{
  color: white;
  font-size: 1.1em;
  font-family: var(--font);
  margin: 0;
  margin-left: 20px;
  padding: 20px;  
  cursor: pointer;
}

.header-word:hover{
  background-color: rgb(115, 115, 116);
}

.add-friend{
  background-color: green;
  color: white;
  font-weight: bold;
  font-family: var(--font);
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  min-width: 100px;
  padding: 5px;
  margin-left: 20px;
}

.auth-container{
  background-color: rgba(25, 27, 29, 0.938);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  padding: 15px;
  margin:10vh 35vw;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.auth-form{
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.auth-input-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.submit-form{
  max-width: 390px;
  min-width: 300px;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 1.3em;
  background-color: var(--submit-color);
  border: none;
  border-radius: 5px;
  color: white;
  padding:8px;
}

.submit-form:hover{
  background-color: rgb(36, 36, 158);

}
input{
  min-width: 380px;
  padding: 5px 5px;
  font-size: 1.3em;
  margin-top: 3px;
  text-decoration: none;
}

.auth-footer{
  cursor: pointer;
  color: rgb(87, 87, 247);
}

.auth-footer:hover{
  text-decoration: underline;
}

.home-container{
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 7fr;
}
/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .home-container {
    height: 500px; /* Set height for smaller screens */
  }
}

/* Media query for screens larger than 768px */
@media screen and (min-width: 769px) {
  .home-container {
    height: 700px; /* Set height for larger screens */
  }
}
.sidebar{
  background-color: var(--sidebar-color);
  color: white;
  margin-top: 2px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.sidebar p{
  cursor: pointer;
  padding: 10px;
}
.sidebar p:hover{
  cursor: pointer;
  background-color: rgb(120, 120, 120);
}

.addfriend-container{
  margin-top: 12px;
  padding-left: 10%;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.component-title{
  color: white;
}

.addfriend-p{
  color: rgb(204, 203, 203);
}

.addfriend-input{
  margin-top: 1%;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding-left: 5px;
}

.addfriend-submit{
  max-width: 290px;
  min-width: 200px;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 1.1em;
  background-color: var(--submit-color);
  border: none;
  border-radius: 5px;
  color: white;
  padding:8px;
}

.addfriend-submit:hover{
  background-color: darkblue;
}

.error-text{
  font-size: 1.1em;
  color: white;
  font-family: var(--font);
}
